.line-through {
  text-decoration: line-through;

}

.border-cmpleted-tasks {
  border: 1px dashed #5e775eb5;
}

.txt-heading {
  margin: 0 auto;
  max-width: 200px;
  margin-top: 5px;
}

.m-auto {
  margin: 0 auto;
  max-width: 550px;
}

.mt-4 {
  margin-top: 4.5rem !important;
}

.pl-20 {
  padding-left: 20px;
}

.m-btn {
  margin-left: 10px;
  margin-top: -5px;
}

.mr-15 {
  margin-right: 15px;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.rounded {
  border-radius: 1.375rem !important;
}

.no-record {
  margin-left: 20%;
  margin-top: 25px;
}


.height {
  height: 100vh;
}

.display-items {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  max-width: 350px;
  margin: 5px 10px;
  padding: 10px 25px;
  border-radius: 20px;
}

select {
  max-width: 200px;
  border-radius: 50px;
}

.mr-70 {
  margin-right: 70px;
}

.m-r5 {
  margin-right: 5px;
}